<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Mobile Hour</title>
</head>

<body>
    <main>
        <%- include("partials/header.ejs") %>
            <section id="about-h1-p-container">
                <h1 id="about-heading-1">About Us</h1>
                <p id="paragraph"> 
                    Bacon ipsum dolor amet meatball kielbasa leberkas turkey tail porchetta, pastrami landjaeger. Swine chuck chicken kielbasa fatback beef ribs 
                    flank ground round prosciutto pancetta meatloaf capicola kevin sausage pork chop. Venison tail beef pork hamburger, drumstick meatloaf. Venison 
                    t-bone swine rump buffalo porchetta ribeye pig burgdoggen pork loin short ribs pork drumstick. Short ribs corned beef pork bresaola cow pork chop. 
                    Turkey cupim tri-tip kevin beef pork ball tip flank, t-bone pork belly kielbasa. Fatback alcatra porchetta boudin sausage beef ribs pancetta meatloaf 
                    hamburger venison frankfurter. Ham cow tenderloin spare ribs rump. Landjaeger doner turkey pork pancetta pork loin spare ribs leberkas brisket. Tongue 
                    beef ribs doner beef. Pastrami swine pork chop buffalo, ball tip ham cow. Biltong salami tongue rump meatball. Bacon buffalo chuck swine ribeye.
                </p>
            </section>


            <%- include("partials/footer.ejs") %>

    </main>

</body>


