<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Mobile Hour</title>
</head>

<body>
    <main>
        <%- include("partials/header.ejs") %>
        <h1 id="contact-heading-1">Contact Us</h1>
            <section id="contact-h1-p-container">
                    <img src="\contact-mail.png" alt="email contact icon" id="contact-icon-1">
                    <p id="contact-details-1">alan.turing@data.com</p>
                    <img src="\contact-phone.png" alt="phone contact icon" id="contact-icon-2">
                    <p id="contact-details-2">0102 123 123</p>
            </section>


            <%- include("partials/footer.ejs") %>

    </main>

</body>